<div class="dates">
    {{#each .}}
        <div id="{{formatdateclass date}}" class="date-group {{formatdateclass date}}">
          <div class="date-heading">{{formatdatedisplay date}}</div>
            {{> date_group .}}
        </div>
    {{/each}}
</div>
