<div id="people">
    {{#each .}}
        <div id="{{formatdateclass date}}" class="date-group {{formatdateclass date}}">
          <div class="group-heading">Group heading here</div>
            {{> date_group .}}
        </div>
    {{/each}}
</div>
